<form action="/register" method="POST" class="form-signin">
    <h2 class="form-signin-heading">Please register</h2>
    <input type="text" name="username" placeholder="email" type="email" required autofocus>
    <input type="text" name="displayname" placeholder="displayname" type="text" required>
    <input type="text" name="password" placeholder="password" type="password" required>
    <button type="submit" class="btn">Submit</button>
</form>