<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Starting Point!</title>
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <!--<link rel="stylesheet" href="stylesheets/style.css">-->

</head>
<body>


<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script src="/lib/bootstrap/bootstrap.js"></script>
<script src="/lib/Ember/handlebars-v1.3.0.js"></script>
<script src="http://builds.emberjs.com/tags/v1.5.1/ember.js"></script>
<script src="/lib/Ember/ember-data.js"></script>
<script src="/lib/Ember/local-storage.js"></script>
<script src="js/app/app.js" type="text/javascript" charset="utf-8"></script>
<script src="js/app/router.js" type="text/javascript" charset="utf-8"></script>
<script src="js/app/models.js" type="text/javascript" charset="utf-8"></script>
<script src="js/app/components.js" type="text/javascript" charset="utf-8"></script>
<script src="js/app/helpers.js" type="text/javascript" charset="utf-8"></script>
<script src="js/app/templates/templates.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/validate.js"></script>
</body>
</html>