
    <div id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {{#link-to "index"}}
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    {{/link-to}}
                    <h1 class="text-center">{{heading}}</h1>
                </div>
                <div class="modal-body">
                    {{#if loginFailed}}
                        <div class="alert">Invalid username or password.</div>
                    {{/if}}
                    <form class="form col-md-12 center-block" id="loginForm" action="/login" method="post">
                        <div class="form-group">
                            <input type="text" id="username" name="username" class="form-control input-lg" placeholder="Email" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="password" class="form-control input-lg" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block">Login</button>
                            <span class="pull-right"><a href="/register">Register</a></span><span><a href="#">Need help?</a></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        {{#link-to "index"}}
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        {{/link-to}}
                    </div>
                </div>
            </div>
        </div>
    </div>